<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <header>
        <h1>Lista de Clientes</h1>
        <a href="/cliente/form">Agregar Cliente</a>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.email}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/">Volver al menu</a>
    </main>
</body>
</html>
