<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Eventos</title>
</head>
<body>
    <h1>Eventos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="evento : ${eventos}">
                <td th:text="${evento.id}"></td>
                <td th:text="${evento.nombre}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/evento/form">Nuevo Evento</a>
</body>
</html>
