<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <header>
        <h1>Lista de Eventos</h1>
        <a href="/evento/form">Agregar Evento</a>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="evento : ${eventos}">
                    <td th:text="${evento.id}"></td>
                    <td th:text="${evento.nombre}"></td>
                    <td th:text="${evento.fecha}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/">Volver al menu</a>
    </main>
</body>
</html>
