<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eventos</title>
</head>
<body>
    <h1>Eventos</h1>
    <a th:href="@{/evento/new}">Agregar Evento</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="evento : ${eventos}">
                <td th:text="${evento.nombre}">Nombre</td>
                <td th:text="${evento.descripcion}">Descripción</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
