<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nueva Reserva</title>
</head>
<body>
    <h1>Nueva Reserva</h1>
    <form th:action="@{/reserva}" th:object="${reserva}" method="post">
        <label for="cliente">Cliente</label>
        <select id="cliente" th:field="*{cliente}">
            <option th:each="cliente : ${clientes}" th:value="${cliente}" th:text="${cliente.nombre}"></option>
        </select>

        <label for="evento">Evento</label>
        <select id="evento" th:field="*{evento}">
            <option th:each="evento : ${eventos}" th:value="${evento}" th:text="${evento.nombre}"></option>
        </select>

        <button type="submit">Guardar</button>
    </form>
    <a href="/reserva">Volver a la lista de reservas</a>
</body>
</html>
